<li class="list-group-item">
  <%= link_to user_path(user) do %>
    <%= image_tag user.profile.avatar.feed.url unless user.profile.avatar.blank? %>
  <% end %>
  
  <%= link_to "#{user.profile.first_name} #{user.profile.last_name}", user_path(user) %>
  
  <% if current_user.all_friends.include?(user) %>
    <%= link_to friend_path(user.id), method: :delete do %>
      <button class="btn btn-secondary index-button">Unfriend</button>
    <% end %>
    <button class="btn btn-secondary index-button"><%= fa_icon "check" %>Friends</button>
  <% elsif user.friend_requests.pluck(:friend_id).include?(current_user.id) %>
    <%= form_for :friend_requests, url: friend_request_path(FriendRequest.where('user_id = ? AND friend_id = ?', user.id, current_user.id)[0].id), method: :put do |f| %>
      <%= f.submit 'Accept Friend Request', class:"btn btn-secondary index-button" %>
    <% end %>
    <%= form_for :friend_requests, url: friend_request_path(FriendRequest.where('user_id = ? AND friend_id = ?', user.id, current_user.id)[0].id), method: :delete do |f| %>
      <%= f.submit 'Decline', class:"btn btn-secondary index-button" %>
    <% end %>
  <% elsif current_user.friend_requests.pluck(:friend_id).include?(user.id) %>
      <button class="btn btn-secondary index-button" disabled>Pending</button>
  <% else %>
    <%= form_for :friend_requests, url: friend_requests_path(friend_id: user) do |f|%>
      <%= f.submit 'Add Friend', class:"btn btn-primary index-button" %>
    <% end %>
  <% end %>
</li>
