<li class="list-group-item">
  <%= link_to user_path(user) do %>
    <%= image_tag user.profile.avatar.feed.url unless user.profile.avatar.blank? %>
  <% end %>
  <%= link_to "#{user.profile.first_name} #{user.profile.last_name}", user_path(user) %>
  <% if current_user.all_friends.include?(user) %>
    <%= link_to friend_path(user.id), method: :delete do %>
      <button class="btn btn-secondary index-button">Unfriend</button>
    <% end %>
    <button class="btn btn-secondary index-button"><%= fa_icon "check" %> Friends</button>
    
  <% else %>
    <%= form_for :friend_requests, url: friend_requests_path(friend_id: user) do |f|%>
      <%= f.submit 'Add Friend', class:"btn btn-primary index-button" %>
      <% end %>
  <% end %>
</li>

