<% if current_user == @user %>
  <a href="#" data-toggle="modal" data-target="#changeCoverModal">
<% end %>
<div id="cover-photo" style="background-image: url('<%= @user.profile.cover_photo.url %>');">
  <% if current_user == @user %>
    <div id="figcaption" class="container">
      <h2>Change Photo</h2>
    </div>
  <% else %>
    <div id="figcaption"></div>
  <% end %>
</a>

  <div id="profile-pic">
    <a href="#" data-toggle="modal" data-target="#changeProfilePicModal">
      <%= image_tag @user.profile.avatar.thumb.url if @user.profile.avatar? %>
      <%= image_tag @user.profile.pic if @user.profile.pic? %>
    </a>
    <p id="name"><%= @user.profile.first_name %> <%= @user.profile.last_name %></p>
  </div>
</div>

<!--cover photo upload-->

<div class="modal fade" id="changeCoverModal" tabindex="-1" role="dialog" aria-labelledby="changeCoverTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeCoverTitle">Select Cover Photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%=form_for :profile, url: user_update_cover_photo_path(params[:id]), method: :patch  do |f| %>
          <%= f.hidden_field 'id', value: params[:id] %>
          <%= f.file_field :cover_photo, id: 'choose_pic' %>
          <%= f.submit "Update cover photo", id: 'update-profile-pic-btn', class: 'btn btn-primary btn-sm' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div> 
</div>

<!--profile photo upload-->

<div class="modal fade" id="changeProfilePicModal" tabindex="-1" role="dialog" aria-labelledby="changeProfilePicTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeProfilePicTitle">Select Profile Photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%=form_for :profile, url: user_update_avatar_path(params[:id]), method: :patch  do |f| %>
          <%= f.hidden_field 'id', value: params[:id] %>
          <%= f.file_field :avatar, id: 'choose_pic' %>
          <%= f.submit "Update profile pic", id: 'update-profile-pic-btn', class: 'btn btn-primary btn-sm' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div> 
</div>

<h1><%#= @user.profile.first_name %> <%#= @user.profile.last_name %></h1>

<div class="row">
  <div class="col col-md-3">
    <% unless @user == current_user %>
      <p><%= link_to "Add friend", friend_requests_path(friend_id: @user), method: :post %></p>
    <% end %>
    <div id="profile-info">
    <ul>
      <li class="list-item"><strong>Email:</strong> <%= @user.email %></li>
      <li class="list-item"><strong>Birthday:</strong> <%= @user.profile.birthday %></li>
      <li class="list-item"><strong>Gender:</strong> <%= @user.profile.gender %></li>   
    </ul>
    <%= link_to 'Edit Profile', edit_user_profile_path(current_user) if @user == current_user %>
  </div>
  <div>
    <h5>Friends (<%= friends(@user).count %>)</h5>
    <% (friends(@user)).each do |friend| %>
      <%=link_to user_path(friend) do %>
        <%= image_tag friend.profile.avatar.feed.url if friend.profile.avatar? %>
      <% end %> 
    <% end %>
  </div>

  <!--photo gallery-->

  <div>
    <h5>Photos (<%= @user.photos.count %>)</h5>
    <% @user.photos.includes(:likes).each_with_index do |photo, index| %>
      <a href="#" data-toggle="modal" data-target="#viewImageModal<%= index %>">
        <%= image_tag photo.image.gallery.url %> 
      </a>
      <div class="modal fade" id="viewImageModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="viewImageTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewImageTitle">Select Photo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body row">
            <div class="col col-md-6">
              <%= image_tag photo.image.thumb.url %> 
            </div>
            <div class="col col-md-6">
              <%#= link_to 'like', user_photo_likes_path(@user, photo.id) %>
              <%= render 'shared/likeable_likers', locals: {object: photo, likers_names: photo.photo_likers_names, likers: photo.photo_likers, like_path: user_photo_likes_path(current_user, photo.id)} %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div> 
    </div>
    <% end %>
    <div>
      <a href="#" data-toggle="modal" data-target="#uploadImageModal">
        Add Photo
      </a>
    </div>
    <div class="modal fade" id="uploadImageModal" tabindex="-1" role="dialog" aria-labelledby="uploadImageTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="uploadImageTitle">Select Photo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%=form_for :photo, url: user_photos_path(params[:id]), method: :post  do |f| %>
              <%= f.hidden_field 'user_id', value: params[:id] %>
              <%= f.file_field :image, id: 'choose_pic' %>
              <%= f.submit "Update profile pic", id: 'update-profile-pic-btn', class: 'btn btn-primary btn-sm' %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div> 
    </div>
    
  </div>
</div>
  <div class="col-md-9">
    <%= render 'shared/feed' %>
  </div>
</div>
