<% if current_user == @user %>
<a href="#" data-toggle="modal" data-target="#commentLikesModal">
<% end %>
<figure id="cover-photo" style="background-image: url('<%= @user.profile.cover_photo.url %>');">
    <%#= image_tag @user.profile.cover_photo.thumb.url if @user.profile.cover_photo? %>
    <figcaption class="container">
    <h2>Change Photo</h2>
  </figcaption>
</figure>
</a>

<div class="modal fade" id="commentLikesModal" tabindex="-1" role="dialog" aria-labelledby="bannerformmodalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bannerformmodalTitle">Select Cover Photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%=form_for :profile, url: user_update_cover_photo_path(params[:id]), method: :patch  do |f| %>
          <%= f.hidden_field 'id', value: params[:id] %>
          <%= f.file_field :cover_photo, id: 'choose_pic' %>
          <%= f.submit "Update cover photo", id: 'update-profile-pic-btn', class: 'btn btn-primary btn-sm' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div> 
</div>

<h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>

<div class="row">
  <div class="col col-md-3">
    <%= image_tag @user.profile.avatar.thumb.url if @user.profile.avatar? %>
    <%= image_tag @user.profile.pic if @user.profile.pic? %>

    <% if current_user == @user %>
      <%=form_for :profile, url: user_update_avatar_path(params[:id]), method: :patch  do |f| %>
        <%= f.hidden_field 'id', value: params[:id] %>
        <%= f.file_field :avatar, id: 'choose_pic' %>
        <%= f.submit "Update Profile Pic", id: 'update-profile-pic-btn', class: 'btn btn-primary btn-sm' %>
      <% end %>
    <% end %>
    <% unless @user == current_user %>
      <p><%= link_to "Add friend", friend_requests_path(friend_id: @user), method: :post %></p>
    <% end %>
    <div id="profile-info">
    <ul>
      <li class="list-item">
        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            friends (<%= friends(@user).count %>)  
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% (friends(@user)).each do |friend| %>
              <%= link_to "#{friend.profile.first_name} #{friend.profile.last_name}", user_path(friend), class: 'dropdown-item' %>
            <% end %>
          </div>
        </div>
      </li>
      <li class="list-item"><strong>Email:</strong> <%= @user.email %></li>
      <li class="list-item"><strong>Birthday:</strong> <%= @user.profile.birthday %></li>
      <li class="list-item"><strong>Gender:</strong> <%= @user.profile.gender %></li>   
    </ul>
    <%= link_to 'Edit Profile', edit_user_profile_path(current_user) if @user == current_user %>
  </div>
</div>
  <div class="col-md-9">
    <%= render 'shared/feed' %>
  </div>
</div>
<!--, 
-->