<div id="post-form">
  <%= form_for :post, url: user_posts_path(current_user.id) do |f| %>
    <%= f.hidden_field 'user_id', value: params[:id] %>
    <%= f.text_area :content, cols: '40', rows: '5', placeholder: "What's on your mind?" %>
    <br>
    <%= f.submit class: 'btn btn-primary btn-sm' %>
  <% end %>
</div>
<div id="posts">
  <% if feed_user.feed %>
    <% feed_user.feed.reverse.each do |post| %>
      <div class="post">
        <div class="post-header">
          <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.profile.avatar.feed.url, class: "feed_avatar" if post.user.profile.avatar? %> <%= post.user.profile.first_name %> <%= post.user.profile.last_name %>
          <% end %>
        </div>

        <small><em>Posted <%= time_ago_in_words(post.created_at) %> ago.</em></small>
        
        
        <div class="post-content"><h4><%= post.content %></h4></div>

        <hr>
       
        <%= render 'shared/likeable_likers', locals: {object: post, likers_names: post.post_likers_names, likers: post.post_likers, path: user_post_likes_path(current_user, post.id)} %>
        <hr>

        <% unless post.comments.empty? %>
          <% post.comments.each do |comment| %>
            <div class="post-comment">
              <%= link_to user_path(User.find(comment.user_id)) do %>
                <%= User.find(comment.user_id).profile.first_name %> 
                <%= User.find(comment.user_id).profile.last_name %> 
              <% end %>
              <%= comment.content %>
            </div>
            <div class="comment-likes-timestamp">
              <%= render 'shared/likeable_likers', locals: {object: comment, likers_names: comment.comment_likers_names, likers: comment.comment_likers, path: user_post_comment_likes_path(current_user, post.id, comment.id)} %>
              <% unless comment.comment_likers.include?(current_user) %>
    <%= link_to 'like', user_post_comment_likes_path(current_user, post.id, comment.id), method: :post %>
  <% end %>
              
              <small><em><%= time_ago_in_words(comment.created_at) %> ago.</em></small>
            </div>
          <% end %>
        <% end %>

        <%= form_for :comment, url: user_post_comments_path(current_user, post.id) do |f| %>
          <%= f.hidden_field 'user_id', value: current_user.id %>
          <%= f.text_area :content, cols: '40', placeholder: 'Write a comment...' %>
          <%= f.submit 'Post', class: 'btn btn-sm btn-secondary' %>
        <% end %>
       </div>
  <% end %>
  
<% end %>
</div>