<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <span class="navbar-brand">Odinbook</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collpase navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <% if current_user && current_user.profile %>
        
      <li class="nav-item">
        <%= link_to "#{current_user.profile.first_name}", user_path(current_user), class: 'header_link' %>
      </li>
      <li class="nav-item"><%= link_to "Home", user_home_path(current_user), class: 'header_link' %></li>
      <li class="nav-item">Find Friends</li>
      <li class="nav-item">
        <%= link_to 'Sign Out', destroy_user_session_path, id: 'sign_out', method: :delete, class: 'header_link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Friend Requests(<%= current_user.inverse_pending_friends.count %>)
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% current_user.inverse_pending_friends.each do |pending_friend| %>
            <a class="dropdown-item" href="#">
              <%= pending_friend.profile.first_name %>
              <% byebug %>
              <%= link_to 'accept', friend_request_path(FriendRequest.where('user_id = ?', pending_friend)[0].id), method: :put %>
              <%= link_to 'decline', friend_request_path(FriendRequest.where('user_id = ?', pending_friend)[0].id), method: :delete %>
            </a>
          <% end %>
        </div>
      </li>
  <% end %>
  </ul>
</div>
</nav>