<div class="likes">
  <% if locals[:object].likes.any? %>

      <% if !locals[:likers].include?(current_user) #&& locals[:object].class != Comment %>
        <%= link_to 'like', locals[:like_path], method: :post %>
      <% else %>

        <% if locals[:object].class == Post %>
          <%= link_to 'unlike', user_post_like_path(current_user.id, locals[:object].id, Like.where('liker_id = ? AND likeable_id = ? AND likeable_type = ?', current_user.id, locals[:object].id, Post)[0].id), method: :delete %>
        <% elsif locals[:object].class == Comment %>
          <%= link_to 'unlike', user_post_comment_like_path(current_user, locals[:object].commentable_id, locals[:object].id, Like.where('liker_id = ? AND likeable_id = ? AND likeable_type = ?', current_user.id, locals[:object], Comment)[0].id), method: :delete %>
        <% elsif locals[:object].class == Photo %>
          <%= link_to 'unlike', user_photo_like_path(current_user, locals[:object].id, Like.where('liker_id = ? AND likeable_id = ? AND likeable_type = ?', current_user.id, locals[:object], Photo)[0].id), method: :delete %>
        <% end %>
      <% end %>
      
      <% if locals[:object].class == Comment && locals[:object].likes.count > 0 %>
        <a href="#" data-toggle="modal" data-target="#commentLikesModal">
          <span class="badge badge-pill badge-primary"><%= locals[:object].likes.count %></span><%= fa_icon "thumbs-up", class: 'comment-like-button' %>
        </a>
      <% elsif locals[:object].likes.count == 1 %>
        Liked by 
        <a href="#" data-toggle="modal" data-target="#<%=locals[:object].likes.first.likeable_type.downcase%>LikesModal">
          <%= User.find(locals[:object].likes.first.liker_id).profile.first_name %> <%= User.find(locals[:object].likes.first.liker_id).profile.last_name %>
        </a>
      <% elsif locals[:object].likes.count == 2 %>
        Liked by 
        <a href="#" data-toggle="modal" data-target="#postLikesModal">
          <%= locals[:likers_names].join(' and ') %>
        </a>
      <% elsif locals[:object].likes.count > 2 %>
        Liked by
        <a href="#" data-toggle="modal" data-target="#postLikesModal">
          <%= locals[:likers_names][0] %>, <%= locals[:likers_names][1] %>,
          and <%= pluralize((locals[:likers].count - 2), 'other') %>
        </a>
      <% end %>

    
    <!-- Modals -->

    <% if locals[:object].class == Post %>
       <%= render 'shared/likers_modal', locals: { id: 'post', object: locals[:object], likers: locals[:likers] } %>
    <% elsif locals[:object].class == Comment%>
       <%= render 'shared/likers_modal', locals: { id: 'comment', object: locals[:object], likers: locals[:likers] } %>
    <% elsif locals[:object].class == Photo %>
       <%= render 'shared/likers_modal', locals: { id: 'photo', object: locals[:object], likers: locals[:likers] } %>
    <% end %>

  <% else %>
    <%= link_to 'like', locals[:like_path], method: :post %>
  <% end %>
</div>
